.die {
    width: 46px;
    height: 46px;
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.die__number {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 800;
    pointer-events: none;
}